<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="grid"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button tab="personal-information">
      <ion-icon name="id-card"></ion-icon>
      Identification
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="medical-information">
      <ion-icon name="medkit"></ion-icon>
      Medical
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
